body{
    margin: 0% 10% 0% 10%;
    padding: 0;
}
.first-cont{
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;

}
.first-cont h1{
    font-size: 350%;
    text-align: center;
    color: rgb(29, 29, 29);
    font-family: sans-serif;
}
.first-cont p{
    padding: 0% 5% 0% 5%;
    text-align: center;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(100, 100, 100);
}
.second-cont{

}
.second-cont h1{
    color: rgb(21, 67, 128);
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}
.second-cont h2{
    color: rgb(32, 62, 117);
    font-size: 30px; 
    font-family: 'Courier New', monospace;
}
.second-cont img{
    width: 40%;
    height: 40%;
    margin-left: 10%;
    float: left;
}
.second-cont button{
    width: 30%;
    height: 50px;
    margin-left: 10%;
    margin-top: 20%;
    background-color: rgb(29, 81, 139);
    border:none;
    color: white;
}
.second-cont button:hover{
    background-color: rgb(0, 119, 255);
    cursor: pointer;
}
