@media(max-width:200px){

    .sociallinks{
        display: none;
    }
    nav{
        width: 100%;
        height: 110px;
        position: relative;
    }
    nav ul{
        margin-left: 20%;
    }
    nav ul li{
        display: inline;
    }
    .container-one{
        height: 950px;
        width: 100%;
    }
    .container-one h1{
        font-size: 25px;
        padding-top: 10px;
        padding-left: 30px;
    }
    .card{
        width: 150px;
        background-repeat: no-repeat;
    }
    .subcard{
        position: relative;
        top: 80%;
        width: 100%;
        overflow: hidden;
        margin-left: 20px;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        transition: .7s;
        font-size: 10px;
    }
    .card-1{
        transform: translateX(20px);
        height: 200px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .card-2{
        transform: translateX(20px);
        height: 200px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .card-3{
        transform: translateX(20px);
        height: 200px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .card-4{
        transform: translateX(20px);
        height: 200px;
        overflow: hidden;
        margin-bottom: 10px;
    }

    /* ----------------------Second-Container-----------------------------*/


    .container-two{
        height: 2200px;
    }
    .sub-div-ctwo{
        height: 100px;
        width: 150px;
        display: block;
        float: none;
        margin-left: -80px;
        margin-bottom: 250px;
    }
    .sub-div-ctwo img{
        background-size: 100%;
        border-radius: 100px;
        width: 150px;
        height: 150px;
        border: 4px solid rgb(46, 204, 209);
    }
    .img-body h2{
        font-size: 30px;
    }
   .ctwo-4{
       display: none;
   }
   .ctwo-5,.ctwo-6,.ctwo-7{
       transform: translateY(100px) translateX(100px);
   }

   /*---------------------------------Third container----------------------*/
   .container-three{
    width: 100%;
    height: 400px;
    background-color: rgba(0, 255, 55, 0.856);
    }
    .searchbox{
        width:100%;
        height: 35px;
        transform: translateX(10px) translateY(10px);
    }
    .searchbox input{
        width: 150px;
        height: 30px;
        border: none;
        background-color: rgba(255, 255, 255, 0.486);
        font-size: 14px;
        color: rgb(53, 53, 53);
        float: left;
    }
    .searchbox img{
        width: 20px;
        height: 20px;
        margin-top: -10px;
    }
    .adrs{
        transform: translateX(30px) translateY(30px);
    }
    .adrs h3{
        font-size: 20px;
    }
    address{
        color: rgb(0, 0, 0);
        font-size:10px;
    }
    .more{
        transform: translateX(30px) translateY(-200px);
        width: 150px;
    }
    .more h1{
        font-size: 20px;
    }
    .more a{
        font-size: 14px;
    }

    footer{
       font-size: 10px;
       margin-top: 20px;
    }
}
